<div class="card my-3 mx-auto border border-dark w-75">
    <div class="card-header bg-dark">
        <div class="container ">
            <div class="row row-cols-2">
                <div class="col text-end text-dark" style="cursor: pointer;">.</div>
            </div>
            </div>
    </div>
    <div class="card-body bg-success-subtle text-start pt-1">
        <blockquote class="blockquote mb-0 py-2">
            <p class="py-2">{{commentText}}</p>
            <footer class="blockquote-footer">{{user.name}}</footer>
            </blockquote>
    </div>
</div>