<div class="d-grid gap-2">
    <a href="dashboard/editPost/{{id}}" class="btn btn-secondary btn-lg my-2" type="button" id="btn-{{id}}">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-start">{{title}}</div>
                <div class="col-sm-4 text-end">{{format_date published_on}}</div>
            </div>
        </div>
    </a>
</div>