<div class="d-flex py-2 bg-dark px-0">
    <h2 class="p-1 mb-2 bg-success-subtle text-emphasis-success rounded mx-5"> <strong>The Tech Blog</strong></h2>
</div>

{{#each posts as |post|}}
    {{> post-details}}
{{/each}}

 